
<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="utf-8">
	<title>网易云热评墙：每一段评论后都有一段故事</title>
    <meta name="keywords" content="网易云-热评墙-故事-伤感语" />
    <meta name="description" content="每一个评论背后都有一段故事，记录下来" />
    <meta name="author" content="CrackQuan-https://www.x-66.com" />

	<link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/layui.css">
</head>

<body>

    <div class="layui-header">
        <ul class="layui-nav" lay-filter="header">
            <li class="layui-nav-item  layui-this"><a href="">首页</a></li>
        </ul>
    </div>


    <div id="fh5co-main">
        <div class="container">
            <div id="fh5co-board" data-columns>
            </div>
        </div>
    </div>

    <div class="footer layui-row">
        <div class="layui-col-md11" style="color: #f6f6f6">
            <p>@ 2020 网易云热评墙</p>
        </div>>
    </div>
    <!-- Salvattore -->
    <script src="../static/salvattore.min.js"></script>
    <script src="../static/layui.js"></script>
    <script src="../static/index.js"></script>

</body>

</html>
